.wrapper {
  display: flex;
  background-color: #000000;
  padding-block: 10px;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
